.app-header {
  background-color: rgb(100, 163, 221);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.container {
  display: flex;
}

.sidebar {
  width: 30%;
  padding: 10px;
}

.main-content {
  width: 70%;
  padding: 10px;
}

h2 {
  text-align: center;
}
